{% set currencyList = CurrencyHandler.getCurrencyList() %}  
{% set currentCurrency = CurrencyHandler.getCurrentCurrency() %}

{% set count = CartHandler.getCartCount() %}


{% if this.page.id == "temp-home" or this.page.id == "home" %}
    {% set menuTextClass = 'purple-menu' %}
    {% set mobileHomeMenu = 'mobile-home-menu' %}
{% else %}
    {% set menuTextClass = 'white-menu' %}
{% endif %}
<header class="rt-site-header  rt-fixed-top {{menuTextClass}} {{mobileHomeMenu}}">
    <div class="top-header rt-light-text d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <ul class="text-center text-md-left top-message">
                        {#
                        <li> <i class="icofont-headphone-alt"></i>Support</li>
                        <li><a href="mailto:info@emigrar.com "><i class="icofont-email"></i>info@emigrar.com</a></li>
                        #}
                    </ul>
                </div><!-- end top header single -->
                <div class="col-md-6">
                    {#
                    <ul class="text-center text-md-right top-social">
                        <li><a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-dollar-sign"></i>Moneda: {{currentCurrency.moneda}}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for currency in currencyList %}
                                <a class="dropdown-item currency-item" data-id="{{currency.id}}" href="#">{{currency.moneda}}</a>

                                {% endfor %}
                            </div>
                        </li>
                        <!-- 
                        <li><a href="#"><i class="fas fa-briefcase"></i>My Trips</a></li>
                        -->
                        <li>
                            
                            <a href="#" data-target="#rtmodal-1" data-toggle="modal"><i class="far fa-user-circle"></i>Login | Registro</a>
                            
                        </li>
                    </ul>
                    #}
                </div><!-- end top header single -->
            </div>
        </div>
    </div> <!-- end top header -->
    
    {% if this.page.id == "temp-home" or this.page.id == "home" %}
        {% set noBannerClass = "" %}
    {% else %}
        {% set noBannerClass = "no-banner" %}
        
    {% endif %}
    <div class="main-header rt-sticky {{noBannerClass}}">
      <nav class="navbar">
        <div class="container pr-0">
          
           {% if this.page.id == "temp-home" or this.page.id == "home" %}
           <a href="{{'temp-home'|page}}" class="brand-logo">  <img src="{{'navicu/imgs/svg/logo-header-navicu.svg'|media}}" alt="Navicu1"></a>
           {% else %}
           <a href="{{'temp-home'|page}}" class="brand-logo">  <img src="{{'navicu/imgs/svg/logo-header-navicu-white.svg'|media}}" alt="Navicu2"></a>
           {% endif %}
           
          
          <a href="{{'temp-home'|page}}" class="sticky-logo">
              <img class="img-fluid" src="{{'navicu/imgs/svg/logo-header-navicu-white.svg'|media}}" alt="Navicu.com">
            </a>
          <div class="ml-auto d-flex align-items-center">
            <div class="main-menu">
                <ul>
                    
                    <li><a href="{{'tour-list'|page}}">Paquetes</a></li>
                    <li><a href="{{'upselling-list'|page}}">Actividades</a></li>

                    {#
                    <li><a href="#">Excursiones</a></li>
                    #}
                    <li> <a href="{{'blog'|page}}">Blog</a></li>
                    
                    <li> <a href="#" class="btn btn-demo" data-toggle="modal" data-target="#cart-side-modal">
                            <span class="indicator__value">{{count}}</span>
                            {% if this.page.id == "temp-home" or this.page.id == "home" %}
                                <img class="img-fluid" width="30px"
                                 data-secondary="{{'navicu/imgs/svg/car-white.svg'|media}}"
                                 data-original="{{'navicu/imgs/svg/carrito-nv.svg'|media}}" 
                                 src="{{'navicu/imgs/svg/carrito-nv.svg'|media}}" alt="">
                            {% else %}
                                <img class="img-fluid" width="30px" src="{{'navicu/imgs/svg/car-white.svg'|media}}" alt="">
                            {% endif %}

                        </a>
                    </li>

                    
                    
                </ul>
                <div class="mobile-menu ">
                    <a href="#" class="btn btn-demo pt-3" data-toggle="modal" data-target="#cart-side-modal">
                        <span class="indicator__value">{{count}}</span>
                        {% if this.page.id == "temp-home" or this.page.id == "home" %}
                        <img class="img-fluid" width="30px" 
                            data-secondary="{{'navicu/imgs/svg/car-yellow.svg'|media}}" 
                            data-original="{{'navicu/imgs/svg/carrito-nv.svg'|media}}"
                            src="{{'navicu/imgs/svg/carrito-nv.svg'|media}}" alt="">
                        {% else %}
                        <img class="img-fluid" width="30px" src="{{'navicu/imgs/svg/car-yellow.svg'|media}}" alt="">
                        {% endif %}
                        
                    </a>

                    <a href="#" class="btn btn-demo pt-3" data-toggle="modal" data-target="#navigation-side-menu">
                        {% if this.page.id == "temp-home" or this.page.id == "home" %}
                        <img class="img-fluid" width="30px" 
                            data-secondary="{{'navicu/imgs/svg/menu-mobile.svg'|media}}"
                            data-original="{{'navicu/imgs/svg/menu-nv.svg'|media}}"
                            src="{{'navicu/imgs/svg/menu-nv.svg'|media}}"

                              alt="">
                        {% else %}
                        <img class="img-fluid" width="30px" src="{{'navicu/imgs/svg/menu-mobile.svg'|media}}" alt="">
                        {% endif %}
                    </a>
                
                </div>
            </div><!-- end main menu -->
            
            <div class="rt-nav-tolls d-flex align-items-center">
                <span class="d-md-inline d-none">
                    <a href="{{'contact'|page}}" id="contact-button" class="rt-btn dark-orange">Contáctanos</a>
                </span>
            </div>
                
          </div>
        </div>
      </nav>
    </div><!-- /.bootom-header -->

  </header>