<div class="rt-breadcump rt-breadcump-height with-logn-height d-none d-sm-none d-md-block">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({{'navicu/imgs/jpg/covers/cover-hoteles.jpg'|media}})">
    </div><!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height with-logn-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h3>Hoteles</h3>
                    <div class="breadcrumbs">
                        <span class="divider"><i class="icofont-home"></i></span>
                        <a href="{{'test-home'|page}}" title="Home">Home</a>
                        <span class="divider"><i class="icofont-simple-right"></i></span>
                        Hoteles

                    </div><!-- /.breadcrumbs -->
                </div><!-- /.breadcrumbs-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="bredcump-search">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto ">
                    {% partial 'banner-searchbox' %}
                </div><!-- /.col-lg-10 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
</div>

