{% set cart = CartHandler.getCart() %}

{% set currentCurrency = CurrencyHandler.getCurrentCurrency() %}
{% set arPrices = CartHandler.getCartPriceArray() %} 
<div class="rt-sidebar-group pb-4">
    <div class="rt-widget final-booking">

        <ul>
            <li class="clearfix equivalent">

                <span>Equivalente</span>
                <span class="float-right">{{arPrices.VES}} VES</span>
            </li>

            <li class="clearfix sub-total">

                <span>Total</span>
                <span class="float-right">{{arPrices.total_price }} <small>{{currentCurrency.acronimo}}</small></span>
            </li>

        </ul>
    </div><!-- /.rt-widget -->
    
</div>