<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>

<script src="{{ [
    'assets/js/jquery-2.2.4.min.js',
    'assets/js/jquery.appear.js',
    'assets/js/jquery-ui.js',
    'assets/js/app.js',
    'assets/js/site.js',
    'assets/js/hotel-booking.js',
    'assets/vendor/bootstrap/popper.min.js',
    'assets/vendor/bootstrap/bootstrap.min.js',
    'assets/vendor/easing/jquery.easing.1.3.js',
    'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js',
    'assets/vendor/isotope/isotope.pkgd.min.js',
    'assets/vendor/instafeed/instafeed.min.js',
    'assets/vendor/waypoints/waypoints.min.js',
    'assets/vendor/jquerycounterup/jquery.counterup.min.js',
    'assets/vendor/jquerymagnificpopup/jquery.magnific-popup.min.js',
    'assets/vendor/jqueryscrollup/jquery.scrollUp.min.js',
    'assets/vendor/owlcarousel/owl.carousel.min.js',
    'assets/vendor/tweenmax/TweenMax.min.js',
    'assets/vendor/scrollax/scrollax.min.js',
    'assets/vendor/wow/wow.js',
    'assets/vendor/jqueryoverlayscrollbars/jquery.overlayScrollbars.min.js',
    'assets/vendor/select2/select2.min.js',
    'assets/vendor/slick/slick.min.js',
    'assets/vendor/slider-range/slider-range.js',
    'assets/vendor/vivus/vivus.min.js',
    'assets/vendor/tippy/tippy.all.min.js',
    'assets/vendor/sweetalert/sweetalert.min.js',

    'assets/js/jquery.mockjax.js',
    'assets/vendor/jqueryautocomplete/jquery.autocomplete.js',
    'assets/js/countries.js',
    'assets/vendor/hotel-datepicker/hotel-datepicker.js',
    'assets/vendor/fecha/fecha.min.js',
    'assets/vendor/toastr/js/toastr.min.js',
    'assets/vendor/jquery.countdown/jquery.countdown.min.js',
    'assets/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'
    

]|theme }}"></script>


<!-- 
    <script type="text/javascript" src="scripts/jquery-1.8.2.min.js"></script>

    <script type="text/javascript" src="scripts/jquery.mockjax.js"></script>
    <script type="text/javascript" src="src/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="scripts/countries.js"></script>
    <script type="text/javascript" src="scripts/demo.js"></script>

-->




{% scripts %}
