@font-face {
    font-family: TT Commons Regular;
    src: url(../../fonts/brand/TTCommons-Regular.woff);
  }

  @font-face {
    font-family: TT Commons Bold;
    src: url(../../fonts/brand/TTCommons-Bold.woff);
  }
  
  @font-face {
    font-family: TT Commons Medium;
    src: url(../../fonts/brand/TTCommons-Medium.woff);
  }  