url = "/blog/categoria/:slug/:page?"
layout = "default"
title = "blog-category"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "blog"
==
<div class="rt-breadcump rt-breadcump-height">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({{'navicu/imgs/jpg/covers/cover-blog.jpg'|media}})">
    </div><!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h3>Blog</h3>
                </div><!-- /.breadcrumbs-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.rt-bredcump -->


{% set posts = blogPosts.posts %}

<div class="blog-content-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 order-1 order-lg-0">
                <div class="all-blog-post">

                    {% partial 'blog/post-list' posts = posts %}

                    
       
                    
                </div>
            </div><!-- ./column -->
            <div class="col-xl-3 col-lg-4 order-0 order-lg-1">
                <div class="sidebar-group">
                    
                    {% partial 'blog/main-categories' blogCategories = blogCategories %}
                    
                </div><!-- ./sidebar -->
            </div><!-- ./column -->
        </div><!-- ./row -->
    </div><!-- ./ copntainer -->
</div>