title = "single-post"
layout = "default"
url = "/post/:slug"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog"

[blogCategories]
slug = ""
displayEmpty = 1
categoryPage = "blog"

==
{% set post = blogPost.post %}

<div class="rt-breadcump rt-breadcump-height">
    <div class="rt-page-bg rtbgprefix-cover" style="background-image: url({{'navicu/imgs/jpg/covers/cover-blog.jpg'|media}})">
    </div><!-- /.rt-page-bg -->
    <div class="container">
        <div class="row rt-breadcump-height">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h3>Blog</h3>
                    <div class="breadcrumbs">
                        <span class="divider"><i class="icofont-home"></i></span>
                        <a href="#" title="Home">Home</a>
                        <span class="divider">
                            <i class="icofont-simple-right"></i>
                        </span>
                        <a href="#" title="Blog">Blog</a>

                        <span class="divider">
                            <i class="icofont-simple-right"></i>
                        </span>
                        {{post.title}}
                    </div><!-- /.breadcrumbs -->
                </div><!-- /.breadcrumbs-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.rt-bredcump -->


<section class="blog-content-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
                <article class="single-blg-post @@blog-class">
                    <a href="#" class="post-thumbnail">
                        <img src="{{post.featured_images[0].path}}" alt="">
                    </a>
                    <div class="entry-content">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                {{post.title}}
                            </h2>
                            
                        </header><!-- .entry header -->
                        <p>
                            {{post.excerpt}}
                        </p>

                        {{ post.content_html|raw }}
                        {#
                        <footer class="entry-footer">
                        
                            <ul class="rt-social rt-circle-style">
                                <li><span><strong>SHARE:</strong></span></li>
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></i></a></li>
                                <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                                <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                            </ul>
                        </footer><!-- ./ footer -->
                        #}
                    </div><!-- .entry content -->
                </article><!-- ./artice single blog -->
            </div><!-- ./column -->
            <div class="col-xl-3 col-lg-4 d-lg-block d-none">
                <div class="sidebar-group">
                    
                    <div class="widget widget_categories">
                        <h2 class="widget-title">Categorias</h2>
                        <ul>
                            {% for category  in blogCategories.categories %}
        
                            <li><a href="{{ 'blog-category'|page({slug: category.slug }) }}">
                                {{category.name}}
                            </a> <span>({{category.posts|length}})</span></li>
                            {% endfor %}
                        </ul>
                    </div><!-- ./  single widget -->
                    {#
                    <div class="widget">
                        <h2 class="widget-title">Relacionados</h2>
                        <div class="rt-widget-recent-posts">
                            <ul class="posts">
                                <li>
                                    <a href="#"><img src="assets/images/all-img/rcp-1.jpg" alt="Make your everyday life easy from now" class="widget-posts-img"></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" class="title">Base Tendriling
                                        Travel Expenses</a>
                                        <div class="date">December 2, 2018</div>
                                    </div>
                                </li><!-- ./ single post -->
                                <li>
                                    <a href="#"><img src="assets/images/all-img/rcp-2.jpg" alt="Make your everyday life easy from now" class="widget-posts-img"></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" class="title">Travel Pre And
                                        Post Internet</a>
                                        <div class="date">2 days ago</div>
                                    </div>
                                </li><!-- ./ single post -->
                                <li>
                                    <a href="#"><img src="assets/images/all-img/rcp-3.jpg" alt="Make your everyday life easy from now" class="widget-posts-img"></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" class="title">Travelling Tips
                                        for the Disabled</a>
                                        <div class="date">2 days ago</div>
                                    </div>
                                </li><!-- ./ single post -->
                                <li>
                                    <a href="#"><img src="assets/images/all-img/rcp-4.jpg" alt="Make your everyday life easy from now" class="widget-posts-img"></a>
                                    <div class="widget-posts-descr">
                                        <a href="#" class="title">15 Travelers
                                        That I Have Met</a>
                                        <div class="date">December 2, 2018</div>
                                    </div>
                                </li><!-- ./ single post -->
                            </ul>

                        </div>
                    </div><!-- ./  single widget -->
                    #}
                </div><!-- ./sidebar -->
            </div>
        </div><!-- ./row -->
    </div><!-- ./ copntainer -->
</section>