<div class="col-md-12">
    <div class="rt-single-icon-box icon-center text-center justify-content-center">
        <div class="icon-thumb">
            <img src="{{'images/statuses-icons/check.png'|media}}">
        </div><!-- /.icon-thumb -->
        <div class="iconbox-content">
            <h5>Tu reserva se encuentra ¡PAGADA!</h5>
            <p>Gracias por reservar con nosotros, en tu correo encontraras toda la información referente a tu reserva</p>

            <div class="col-md-12 text-center mt-4">
                <a href="{{'temp-home'|page}}" class="rt-btn rt-gradient3 rt-Bshadow-3 pill text-uppercase rt-sm2"> VOLVER AL INICIO</a>
            </div>
        </div><!-- /.iconbox-content -->
    </div><!-- /.rt-single-icon-box -->
</div>