<div class="modal fade" id="terms-condition-modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-scrollable modal-lg	" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Términos y condiciones</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5>TÉRMINOS Y CONDICIONES GENERALES PARA LA UTILIZACION DEL SISTEMA DE RESERVAS NAVICU</h5>

            <p>
              <strong>Cláusula 1. Definiciones y alcance</strong>
            </p>
            <p class="text-justify">
              1.1 Definiciones  <br>
                  Las siguientes definiciones tienen el mismo significado tanto si se  menciona en plural como en
                  singular. Por <strong>“usuario”</strong> se entiende el usuario o Usuario que reserva los servicios
                  de hospedaje o alojamiento ofrecidos por <strong>NAVICU</strong> en el sitio web.
                  Por <strong>“NAVICU”</strong>, se entiende la sociedad mercantil debidamente inscrita por ante el
                  Registro Mercantil Segundo del Estado Carabobo, República Bolivariana de Venezuela, No. de 
                  Expediente 315-51698, quedando anotada bajo el No. 33, Tomo 138-A en fecha 25 de junio de 2015. 
                  Por “Términos y Condiciones Generales”, se entiende estos términos y condiciones generales. 
                  Por “Términos y Condiciones Especiales”, se entiende estos términos y condiciones del ESTABLECIMIENTO AFILIADO
                  o proveedor. 
                  Por “Servicio”, se entiende el servicio de reserva de alojamiento u hospedaje ofrecido en el sitio Web.
                  Por “Establecimiento Adherente”, se entiende el proveedor de servicios de alojamiento u hospedaje afiliado
                  a la Web <strong>NAVICU</strong>. 
                  Por “Sitio Web” se entiende el Sitio Web de <strong>NAVICU</strong> www.navicu.com
            </p>

            <p class="text-justify">
              1.2. Alcance <br>
              Los presentes Términos y Condiciones Generales se aplican a los servicios de reservación de 
              alojamiento u hospedaje que tramita o gestiona <strong>NAVICU</strong> a través de la presente página Web. 
              <strong>NAVICU</strong> actúa como intermediario entre el <strong>Usuario</strong> 
               y los diversos ESTABLECIMIENTOS AFILIADOS o Proveedores afiliados a <strong>NAVICU</strong>. 
              A su vez, estos Términos y Condiciones Generales están supeditados a los Términos y Condiciones 
              Especiales que establecen los Establecimientos Adherentes o los Proveedores a <strong>NAVICU</strong> y a los
               <strong>Usuarios.</strong> 
              Dichas condiciones y términos  se encuentran a disposición del <strong>Usuario</strong> al momento de consultar la 
              información del Proveedor o ESTABLECIMIENTO AFILIADO, antes de que se formalice la reserva y 
              que el <strong>Usuario</strong> también acepta en el momento que concreta la reservación correspondiente. 
              Es responsabilidad del <strong>Usuario</strong> conocer los Términos y Condiciones de los Proveedores o 
              Establecimientos Adherentesy que se evidencian de la información que los mismos proveen en la 
              página Web. 

            </p>
            
            <p class="text-justify">
              <strong>NAVICU</strong> puede modificar los Términos y Condiciones en cualquier momento y sin previo aviso. 
              Por consiguiente, el <strong>Usuario</strong> debe leer, guardar e imprimir una copia de los Términos y 
              Condiciones en el momento de efectuar la reserva, a los fines de que tenga conocimiento 
              exacto de los términos y condiciones que le son aplicables a su caso concreto. 
            </p>

            <p class="text-justify">
              <strong>
                Cláusula 2. Realización de Reservas a través del Sitio Web. El servicio prestado por NAVICU.
              </strong>
            </p>

            <p class="text-justify">
              2.1 Capacidad Legal del <strong>Usuario</strong>. <br>
              El Sitio Web permite al <strong>Usuario</strong> realizar las reservas para alojamiento necesarias y de acuerdo 
              a sus deseos, interés y capacidad. La Web actúa como intermediario entre <strong>Usuario</strong> y el 
              proveedor o ESTABLECIMIENTO AFILIADO. El <strong>Usuario</strong> debe ser mayor de edad y tener capacidad 
              legal para obligarse contractualmente.En caso de <strong>Usuario</strong> persona jurídicas, debe actuar el 
              represéntate con capacidad de obligar legal y contractualmente a la empresa. <br>
              El <strong>Usuario</strong> está obligado a proveer información verdadera, exacta y actualizada.
            </p>
            <p>
              2.2 Condiciones financieras y procedimientos de pago. Impuesto. 
            </p>
            
            <p class="text-justify">
              A menos que se especifique lo contario en los Términos y Condiciones Especiales, los precios de los
              servicios que figuran en el Sitio Web están expresados en la moneda local e incluyen el IVA, 
              Expresamente están excluidas cualquier otro impuesto, tasas o contribuciones especiales. 
            </p>

            <p class="text-justify">
              El precio de los servicios de alojamiento u hospedaje presentados en el Sitio Web deberá pagarse
               a <strong>NAVICU</strong>, quien aceptará dicho precio en nombre de los proveedores de servicios o 
               ESTABLECIMIENTOS AFILIADOS proveyendo el número de tarjeta de crédito del Usuario 
               por medio de un sistema de pago seguro. 
            </p>

            <p class="text-justify">
              El Usuario deberá proporcionar los datos de su tarjeta de crédito a <strong>NAVICU.</strong> 
              <strong>NAVICU.</strong>  verificará (i) la validez de la tarjeta de crédito; (ii) la 
              disponibilidad de fondos en la tarjeta de crédito; iii) cobrar el 
              importe total del precios por el alojamiento u hospedaje correspondiente al 
              ESTABLECIMIENTO AFILIADO o proveedor; iv) emitir una confirmación de reserva 
              que enviara vía electrónica al Usuario y al proveedor o 
              ESTABLECIMIENTO AFILIADO y; v) emitirá la correspondiente factura de pago.
              Los pagos que se realicen en el Sitio Web a través de tarjetas de créditos
               se realizarán mediante un sistema de pago seguro. 
            </p>

            <p>2.3. Confirmación y Cancelación de Reservas.</p>

            <p>
              2.3.1Confirmación de Reserva.
            </p>
            <p class="text-justify">
              La Confirmación de una reserva comporta la descripción de los servicios de alojamiento  
              reservados y el precio. Dicha confirmación se enviará al <strong>Usuario</strong> por correo 
              electrónico. Si el <strong>Usuario</strong> no recibe un mensaje de correo electrónico de confirmación 
              dentro de las 24 horas desde la realización de la reserva, deberá ponerse en 
              contacto con el Departamento de Atención al <strong>Usuario</strong> en la siguiente dirección 
              del correo electrónico: preguntas@navicu.com <br>
              Los datos almacenados en los sistemas informáticos de <strong>NAVICU</strong> y de sus proveedores
               o Establecimientos Adherentes constituirá prueba suficiente de la 
               reservas efectuadas por el <strong>Usuario</strong>, los almacenados en ordenadores o 
               medios electrónicos son prueba suficiente y, por consiguiente, serán 
               aceptable en virtud de las mismas condiciones y con el mismo valor probatorio 
               que un documento físico.
            </p>

            <p>
              2.3.2 No Cancelación de Reservas.
            </p>

            <p class="text-justify">
              El <strong>Usuario</strong> no tiene un derecho automático de cancelación. 
              Si el <strong>Usuario</strong> no se presenta a la salida de un viaje, los únicos reembolsos
              a lo que tendrá derecho el Usuario serán los previstos en los Términos y 
              Condiciones Especiales del correspondiente proveedor y notificados durante el proceso de reserva. 
              <strong>NAVICU C.A.</strong> Se reserva el derecho de cancelar su reserva si no es 
              recibo el pago en su totalidad y en su momento oportuno. 
            </p>

            <p>
              2.3.3 Reembolsos.
            </p>

            <p class="text-justify">
              En caso de corresponderle un reembolso al <strong>Usuario</strong>, <strong>NAVICU</strong> transferirá la 
              cantidad de que se trate a la tarjeta que se haya empleado para realizar 
              la reserva original. Los cargos de reserva aplicados no tendrán derecho a reembolso. 
            </p>

            <p>
              2.3.4 Tarifas de servicios. 
            </p>

            <p class="text-justify">
              Los proveedores o Establecimientos Adherentes a <strong>NAVICU</strong> publican
               en la página Web <strong>NAVICU</strong> sus mejores tarifas y precios disponibles
                para el <strong>Usuario</strong>. En caso de que el <strong>Usuario</strong> obtenga un mejor 
                precio o tarifa para ese mismo ESTABLECIMIENTO AFILIADO o 
                proveedor, en las mismas fechas y condiciones de alojamiento, 
                <strong>NAVICU</strong> igualará dicho precio o tarifa.
            </p>

            <p class="text-justify">
              A menos que el <strong>Usuario</strong> indique otra cosa, se entiende que solicita los 
              Servicios menos costosos. Dichos servicios se deberán prestar sin posibilidad
              de modificarlos ni cancelarlos. En tales casos, los servicios 
              no se podrán prestar de manera distinta en un momento o lugar  
              diferente de los contratados. 
            </p>

            <p>
              2.3 Pago a distintas partes.
            </p>
            <p class="text-justify">
              Al <strong>Usuario</strong> podrán cobrarle varias partes por una misma reserva. No obstante,
              la cantidad total cargada no superará el precio total de los servicios. 
            </p>

            <p>
              Cláusula 3. Servicios  específicos.
            </p>

            <p class="text-justify">
              <strong>NAVICU</strong> administra y gestiona el Sitio Web <strong>NAVICU</strong> 
              es un intermedio entre el Usuario y los Establecimientos Adherentes o proveedores en relación
              ala oferta y la prestación de todos los servicios de alojamiento u hospedaje.
            </p>
            <p class="text-justify">
              La información aquí aportada no es exhaustiva y no sustituye los términos
              y condiciones especiales delos Establecimientos Adherentes o proveedores. 
              En caso de conflicto o incoherencia entre los presentes Términos y Condiciones 
              Generales y los Términos y Condiciones Especiales que establecen los proveedores o 
              Establecimientos Adherentes, prevalecerán estos últimos. Los términos y 
              Condiciones Especiales de los proveedores o Establecimientos Adherentes se 
              encuentran disponibles antes de que se formalice la reserva. 
            </p>

            <p class="text-justify">
              Salvo que la normativa que resulte en definitiva aplicable disponga
              lo contrario, dicha información establecida en los Términos y Condiciones 
              que establecen los proveedores o Establecimientos Adherentes no genera 
              ninguna obligación ni responsabilidad para <strong>NAVICU</strong>.               
            </p>

            <p>
              3.1. Servicio de Alojamiento.
            </p>

            <p class="text-justify">
              Los servicios de alojamiento u hospedaje están sujetos a los Términos y 
              Condiciones Especiales de los Proveedores o Establecimientos Adherentes 
              que ofrecen alojamiento. Los términos y Condiciones especiales  pueden 
              incluir restricciones y cargos y/o impuestos por los proveedores.
            </p>

            <p class="text-justify">
              Las reservas pre pagadas de hoteles exigen que se cargue en la tarjeta de 
              crédito del <strong>Usuario</strong> el importe completo en el momento de la reserva. 
            </p>

            <p class="text-justify">
              Los precios mostrados en el Sitio Web no incluyen las tarifas, ni los cargos 
              de los suplementos opcionales, tales como artículos del mini bar o 
              llamadas telefónicas, entre otros semejantes.
            </p>

            <p class="text-justify">
              Si un <strong>Usuario</strong> no se presenta la primera noche de la reserva. Pero si se va
               registrar para las siguientes noches que ha reservado, el <strong>Usuario</strong> deberá
                confirmar los cambios de reserva a NAVICU como muy tarde en la fecha 
                original de entrada, para evitar que se cancele  su reserva completa. 
                Si el <strong>Usuario</strong> no confirma el cambio señalado anteriormente, la reserva 
                completa podrá ser cancelada y no tendrá derecho de reembolso. 
                El cambio en cuestión deberá notificarse a la siguiente dirección: 
                preguntas@navicu.com y teléfono 08008 NAVICU si llama desde venezuela. 
                Es política de <strong>NAVICU</strong> y los Establecimientos Adherentes que no se 
                permiten cambios ni cancelaciones de reservas una vez realizadas.
              
            </p>

            <p>
              3.2. Uso de las Habitaciones.
            </p>
            <p class="text-justify">
              Las habitaciones reservadas están disponibles únicamente conforme 
              a los horarios que establezca el proveedor o ESTABLECIMIENTO AFILIADO. 
              Las habitaciones individuales tienen una cama y con 
              frecuencia se paga un suplemento por ellas. Las habitaciones dobles
              tienen dos camas o una de matrimonio. 
            </p>
            <p>
              3.2.1 Clasificación.
            </p>
            <p class="text-justify">
              La indicación del nivel o categoría otorgado a los proveedores o Establecimientos
              Adherentes que figuran en el Sitio Web corresponde a la clasificación
              basada en los estándares locales de de dicho país, que pueden diferir 
              de aquellos utilizados en otros países. Esta clasificación se 
              ofrece simplemente como referencia. Los Usuarios deben tener en 
              cuenta que los estándares pueden variar entre hoteles de la misma 
              clase en países  distintos o incluso dentro del mismo país. 
              Es importante leer con atención las descripciones de los hoteles 
              individuales. El alojamiento en todos los hoteles, con independencia de 
              su categoría, es en habitación normal, a no ser se indique otra cosa.
              Por razones técnicas, un hotel, proveedor o ESTABLECIMIENTO AFILIADO 
              puede que experimente un exceso de reserva overbooking por razones 
              de fuerza mayor o por causas imputables a terceros, una reserva para 
              alojamiento u hospedaje sea cancelada o modificada. En estos casos, 
              <strong>NAVICU</strong> hará todo los esfuerzo razonable para notificar al 
              <strong>Usuario</strong> esta circunstancia, tan pronto como lo sea 
              posible y siempre que sea posible 
              se le ofrecerá alojamiento alternativo en un hotel de al menos la misma 
              clasificación de estrella y con servicios similares. Si lo anterior no 
              fuera posible, se le ofrecerá al <strong>Usuario</strong> una alternativa de alojamiento
              en el mismo sitio, pero en alojamiento de categoría inferior, con reembolso parcial.
              Si esta oferta no es aceptada por el <strong>Usuario</strong>, <strong>NAVICU</strong> se asegurará de 
              que todo el dinero pagado en concepto de reserva para alojamiento sea reembolsado. <br>
              Cuando exista un problema técnico en <strong>NAVICU</strong> que implique la cancelación o modificación
              de reserva, <strong>NAVICU</strong> pagará una compensación razonable al <strong>Usuario</strong>.   
              Por motivos técnicos, de fuerza mayor o por actos de terceros, 
              el hotel que se reservó originalmente sea reemplazado por un 
              hotel de la misma categoría que proporcione servicios similares.

            </p>

            <p>
              3.2.2. Comidas.
            </p>

            <p class="text-justify">
              Si las Comidas forman parte del paquete del alojamiento, la cantidad de 
              comidas depende de la cantidad de noches incluidas en la estancia. 
              Normalmente, la pensión completa incluye desayuno, comida y cena. 
              La media pensión incluye desayuno y comida o cena, lo que dependerá 
              del paquete contratado. El alojamiento que incluye comidas principales 
              suele comenzar con la cena del día de llegada al hotel y finalizar con el 
              desayuno (si es con media pensión) o la comida (si es pensión completa) del 
              día de partida. Si no puede tomarse una o varias comidas, no se
              realizará reembolso alguno.
            </p>

            <p class="text-justify">
              A menos que se estipule lo contrario en el Sitio Web, las bebidas no están
               incluidas en las comidas;en tales casos, el <strong>Usuario</strong> deberá asumir su costo.
            </p>

            <p>
              3.2.3. Impuestos.
            </p>
            <p class="text-justify">
              Las autoridades locales pueden establecer impuestos adicionales pagaderos
               en el Establecimientos Adherente o proveedor.  El <strong>Usuario</strong> es el único 
               responsable de pagar dicho impuestos adicionales. 
            </p>
            <p>
              3.2.4. Cancelación.
            </p>

            <p class="text-justify">
              <strong>NAVICU</strong> se reserva el derecho decancelar la reserva en el
               caso de que el pago integro no se reciba en los términos y condiciones 
               establecidos en el presente documento. 
            </p>

            <p>
              3.2.5. Reservas para grupos.
            </p>
            <p class="text-justify">
              No se podrá reservar en el Sitio Web más de 10 habitaciones para el mismo hotel y las mismas fechas de estancia
              Si <strong>NAVICU</strong> determina que se ha reservado más de 10 habitaciones por un mismo
              <strong>Usuario</strong>, <strong>NAVICU</strong> está en el derecho
              de cancelar las reservas y el Usuario perderá el derecho a alojamiento para las reservas efectuadas. 
            </p>

            <p class="text-justify">
              El <strong>Usuario</strong> que deseehacer reservas de grupos deberá ponerse en contacto con 
              <strong>NAVICU</strong>por los siguientes teléfonos o por el correo electrónico 
              08008 NAVICU y en preguntas@navicu.com
            </p>
            <p>
              3.3. Cambios significativos por parte de <strong>NAVICU</strong> o Establecimientos Adherentes.
            </p>
            <p class="text-justify">
              Si se produce un cambio significativo en la reserva imputable a <strong>NAVICU</strong> o al proveedor
              o Establecimiento Afiliado, el <strong>Usuario</strong> tiene derecho i) a aceptar un paquete 
              de sustitución de calidad equivalente o superior sin coste adicional para él, 
              en caso de <strong>NAVICU</strong> pueda ofrecerle dicha posibilidad o ii) aceptar una reserva 
              de sustitución de calidad inferior, en caso de que <strong>NAVICU</strong> se lo puede ofrecer, 
              en cuyo caso <strong>NAVICU</strong> reembolsará al <strong>Usuario</strong> la diferencia entre el costode la 
              reserva original y aquella de sustitución o iii) a cancelar el contrato y 
              recibir el reembolso de todo el dinero abonado. El <strong>Usuario</strong> debe ejercer sus 
              derechos en un plazo de 2 días, después de que <strong>NAVICU</strong> le haya informado del 
              cambio significativo de que se trate.
            </p>

            <p>
              3.4. Términos y  Condiciones Especiales de Proveedores o Establecimientos Adherentes. 
            </p>

            <p class="text-justify">
              <strong>NAVICU</strong> no ejerce un control sobre estos Proveedores o Establecimientos Adherentes.
              Los servicios de alojamiento están sujetos a los Términos y Condiciones 
              Especiales de los Establecimientos Adherentes o Proveedores. 
            </p>

            <p>
              3.5. Fuerza  Mayor.
            </p>
            <p class="text-justify">
              Si se produce una causa de fuerza mayor que no habría podido evitarse aplicando 
              todo el cuidado debido que hubiera impedido en gran medida que tenga lugar, 
              entonces cualquiera de las partes podrá rescindir el contrato. 
              Cuando el <strong>Usuario</strong> sea la parte afectada por la fuerza mayor, 
              <strong>NAVICU</strong> no estará obligada a reembolsarle ninguna suma por los servicios que
               todavía no se hayan prestado. 

            </p>
            <p>
              Cláusula 4.   Responsabilidad de <strong>NAVICU.</strong>
            </p>
            <p class="text-justify">
              <strong>NAVICU</strong> es responsable de:
            </p>
            <p class="text-justify">
              <ul>
                <li>
                  i)La diligente selección y la supervisión de los Establecimientos Adherentes o proveedores.
                </li>
                <li>
                  ii)La precisa presentación de la información mostrada en el Sitio Web; en el entendido que la 
                  información la aporta el ESTABLECIMIENTO AFILIADO o proveedor y es este el responsable de su 
                  contenido. 
                </li>
                <li>
                  iii)Tramitar la reservación en el ESTABLECIMIENTO AFILIADO o proveedor escogido
                   por el Usuario y pagado por el Usuario.
                </li>
                <li>
                  iv)Cobrar y facturar el servicio de alojamiento u hospedaje.
                </li>
                <li>
                  v)Confirmar la reservación al Usuario e informar al ESTABLECIMIENTO AFILIADO o proveedor dicha reservación.
                </li>
              </ul>
            </p>
            <p>
              4.1.Limitación de responsabilidad.
            </p>
            <p class="text-justify">
              <strong>NAVICU</strong> no es responsable por (i) pérdidas o daños causadas por fraude o declaraciones falsas de los 
              proveedores o Establecimientos Adherentes; (ii) por pérdidas originadas por el fallecimiento o lesiones
              personales; iii) por fallas, deficiencias, desmejoras en el servicio de alojamiento u hospedaje 
              prestado por los Establecimientos Adherentes o proveedores; o iv) robos, hurtos, pérdidas materiales 
              en el ESTABLECIMIENTO AFILIADO o Proveedor.
            </p>
            <p class="text-justify">
              <strong>NAVICU</strong> sólo será responsable por daños que surjan directamente como consecuencia de su 
              incumplimiento de estos Términos y Condiciones Generales, relativas a la reservación 
              por un servicio de alojamiento u hospedaje en un ESTABLECIMIENTO AFILIADO o proveedor
               y, en todo caso, la responsabilidad está limitada al precio del producto 
               correspondiente contratado.
            </p>

            <p class="text-justify">
              La responsabilidad de <strong>NAVICU</strong> se limita a tramitar la reservación, ser intermediario 
               entre el <strong>Usuario</strong>
               y el proveedor del servicio de alojamiento u hospedaje  y comienza su responsabilidad 
               una vez se haya concretado el pago por la reserva del alojamiento u hospedaje mediante la 
               aprobación de pago por parte del banco emisor de la  tarjeta de crédito correspondiente y 
               cesa en el momento del registro de entrada del <strong>Usuario</strong> en el ESTABLECIMIENTO AFILIADO o proveedor. 
            </p>

            <p class="text-justify">
              El <strong>Usuario</strong> deberá asegurarse de verificar toda la información indicada antes de realizar la reserva.
            </p>

            <p class="text-justify">
              El <strong>Usuario</strong> debe tener en cuenta que todas las clasificaciones de los hoteles mostradas tienen
               carácter meramente informativo y de orientación al <strong>Usuario</strong>. 
            </p>
            <p class="text-justify">
              
              <strong>NAVICU</strong> no acepta ninguna responsabilidad en relación con las clasificaciones 
              hoteleras mostradas.

            </p>

            <p class="text-justify">
              Toda la información contenida en este sitio Web se proporciona sin garantías, ya sean explícitas
               o implícitas de calidad e idoneidad de los Establecimientos Adherentes o proveedores. 
            </p>

            <p class="text-justify">
              <strong>NAVICU</strong> no es responsable de cualquier demora o incapacidad para usar el Sitio Web, 
              o del uso por parte del <strong>Usuario</strong> de los vínculos del sitio Web.
            </p>

            <p class="text-justify">
              Las exclusiones y limitaciones contenidas en esta cláusula sólo son aplicables en la medida en 
              que lo permita la normativa aplicable.
            </p>

            <p>
              4.2.  Prescripción de la responsabilidad y período limitado de reclamaciones.
            </p>

            <p class="text-justify">
              Las reclamaciones derivadas del presente  contrato deben presentarse en el plazo de
               5 días continuos contados desde la fecha de la reserva. En tal supuesto de reclamación, 
               el <strong>Usuario</strong> interesado deberá ponerse en contacto por el siguiente correo 
               electrónico preguntas@navicu.com o llame al número de nuestro Servicio de atención 
               al <strong>Usuario</strong>, 08008 NAVICU.
            </p>

            <p class="text-justify">
              Las reclamaciones se presentarán por escrito y en interés del propio <strong>Usuario</strong>.
            </p>

            <p>
              Cláusula 5. Generalidades.
            </p>

            <p class="text-justify">
              5.1. Precios.
              El precio de los servicios será el que figure en el Sitio Web para cada proveedor 
              o ESTABLECIMIENTO AFILIADO. Los precios pueden cambiar en cualquier momento. Pero 
              los cambios no afectarán a la reserva que ya hayan aceptado. A pesar de que <strong>NAVICU</strong>
              realiza sus mejores esfuerzos para evitarlo, algunos de los servicios enumerados 
              en el Sitio Web podrían tener precios incorrectos y <strong>NAVICU</strong> no tiene ninguna obligación 
              de prestar servicios al <strong>Usuario</strong> a un precio incorrecto (inferior), 
              aunque se haya enviado al <strong>Usuario</strong> confirmación de su reserva.

            </p>
            <p>
              5.2. Información, fotografía e ilustraciones.
            </p>
            <p class="text-justify">
              
              <strong>NAVICU</strong> hace todo lo posible para proporcionar información,  fotografías e 
              ilustraciones que ofrezcan al <strong>Usuario</strong> una representación visual de los 
              servicios de alojamiento u hospedaje ofrecidos. La finalidad de estas 
              fotografías e ilustraciones es mostrar al <strong>Usuario</strong> el nivel del alojamiento 
              y el grado de comodidad, sin pretender ninguna otro objetivo.

            </p>

            <p>
              5.3. Seguros.
            </p>
            <p class="text-justify">
              Los precios en el Sitio Web no incluyen el seguro. 
            </p>

            <p class="text-justify">
              Cláusula 6. Atención al <strong>Usuario</strong> y gestión de reclamaciones.              
            </p>

            <p class="text-justify">
              Las consultas y solicitudes de información deben enviarse a preguntas@navicu.com
              Las reclamaciones deberán enviarse por correo electrónico preguntas@navicu.com

            </p>
            <p>
              Cláusula 7. Privacidad.
            </p>

            <p class="text-justify">
              El Usuario, al momento de hacer su reservación, aporta datos de identificación y de 
              ubicación personal, dirección IP, el software de su navegador Web y de tarjeta
              de crédito. Eventualmente se le podría solicitar información sobre preferencias
              de alojamiento y otros datos para completar su perfil de viajero. 
              La información anterior es utilizada para la base de datos de NAVICU y 
              para confirmar las reservas. Dicha información puede ser compartida con 
              los Establecimientos Adherentes o proveedores y se comparte con la 
              entidad bancaria emisora de las tarjetas de crédito. En caso de requerimientos de 
              entes reguladores, fiscales  y autoridades judiciales, NAVICU 
              se verá obligada a compartir igualmente dicha información. <br>
              
              En caso de que la pagina Web de NAVICU tenga o permita enlaces externos, 
              esos sitios Web no estarán bajo control de NAVICU y no atineden esta 
              política de privacidad.
              <br>
              
              <strong>NAVICU</strong> está comprometida a proteger si¡u información y 
              nuestro sitio Web garantiza seguridad.  <br>

            </p>

            <p>
              Cláusula 8. Legislación Aplicable.
            </p>
            <p class="text-justify">
              Estos términos y condiciones generales se rigen por la ley de la República Bolivariana de Venezuela. 
            </p>
            
        </div>
        <div class="modal-footer">
          <button type="button" id="close-terms-button" class="btn btn-primary mx-auto" data-dismiss="modal">Acepto</button>
        </div>
      </div>
    </div>
  </div>