[form]
==
<div class="order-header pt-0 w-100">
    <form id="payment-form" data-request-validate data-request-flash>
                                               
        <div class="form-row">
    
            <div class="form-group col-md-12 col-lg-12 placeholder-dark mt-3 mb-3 rt-input-group">
    
                <label class="half-violet-1-text">
                    <strong>Nombre y apellido del titular</strong>
                </label>
    
                <input type="text" name="tarjetahabiente" id="tarjetahabiente" class="form-control" placeholder="Ej: Juan Pérez"> 
    
            </div>
    
            <div class="form-group col-md-12 col-lg-12 ">
    
                <div id="card-element" style="border: 1px solid #ccc;
    
                border-radius: 3px; padding:4px 4px; width: 100%; height: 53px; padding: 12px; font-size: 16px;"> 
    
                <!-- a Stripe Element will be inserted here. -->
    
                </div>
    
            </div>
    
            <!-- Used to display form errors -->
    
            <div id="card-errors" role="alert"></div>
    
        </div>
        {% set arPrices = object.getArPrecios() %}
        
        <input type="hidden" name="mt" id="mt" value="{{form.encrypt(arPrices.total_markup) }}">
    
        <input type="hidden" name="ref" id="ref" value="{{object.codigo}}">
        
        <input type="hidden" name="id" id="id" value="{{object.id}}">

        <input type="hidden" name="type" id="type" value="{{type}}">
        <br>
    
        <div class="d-flex justify-content-center">
            <button class="hotel-result-button" id="pay-btn">¡Pagar!</button>
        </div>
    </form>
</div>

<script src='https://js.stripe.com/v3/'></script>