<div class="spacer-top"></div><!-- /.spacer-top -->
<section class="rt-cta-area">
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <a href="#">
                        <img class="img-fluid" src="{{'navicu/imgs/navicu-losroques-min.gif'|media}}">
                    </a>
                </div><!-- /.inner-content -->
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

</section>