
<!-- 'navicu/imgs/png/family-navicu-home.png -->
<section class="rt-banner-area">
    <div class="single-rt-banner rt-banner-height" style="background-image: url({{'navicu/imgs/jpg/new-home.jpg'|media}})">
        <div class="container">
            <div class="row  rt-banner-height align-items-center">
                <div class="col-lg-9">
                    <div class="rt-banner-content">
                        <h1 class="dark-violet-text pb-2">
                            Mejores opciones <br>
                            para un mejor viaje
                        </h1>
                        <p class="half-violet-1-text pb-2">
                            ¿Estás listo para iniciar tu próxima aventura?
                        </p>
                    
                        {% partial 'banner-searchbox' %}

                    </div><!-- end banner content -->
                </div><!-- end column -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end single rt banner -->
</section>