<div class="counter-area">
    <div class="container">
        <div class="row d-flex ">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="media counter-box-1 align-items-center">
                    <img src="{{'navicu/imgs/svg/viajeros-icon.svg'|media}}" alt="1" draggable="false">
                    <div class="media-body">
                        <h5 class="">Viajeros navicu </h5>
                        <h6><span class="counter"><span>+</span>16,890</span></h6>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-12" >
                <div class="media counter-box-1 align-items-center">
                    <img src="{{'navicu/imgs/svg/boletos-icon.svg'|media}}" alt="2" draggable="false">
                    <div class="media-body">
                        <h5>Boletos aéreos vendidos <br></h5>
                        <h6><span class="counter"><span>+</span>10,220</span></h6>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="media counter-box-1 align-items-center">
                    <img src="{{'navicu/imgs/svg/alojamientos-icon.svg'|media}}" alt="3" draggable="false">
                    <div class="media-body">
                        <h5 class="">Reservas en alojamiento </h5>
                        <h6><span class="counter"><span>+</span>12,775</span></h6>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
    
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>