<div class="spacer-top"></div><!-- /.spacer-top -->


<section class="app-area rtbgprefix-cover" style="background-image: url(assets/images/backgrounds/app_bg.png)"
    data-scrollax-parent="true">
    <div class="rt-shape-elements-1 rtbgprefix-contain"
        style="background-image: url(assets/images/shape-elements/shape-3.png)"
        data-scrollax="properties: { translateY: '50px' }"></div><!-- /.rt-shape-elements-1 -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 text-center text-lg-left">
                <img src="assets/images/all-img/app-mbl.png" alt="mockup image" draggable="false" class="wow fade-in-left" data-wow-duration="1s" data-wow-delay="0.2s">
            </div><!-- /.col-lg-5 -->
            <div class="col-lg-7">
                <div class="rt-section-title-wrapper">
                    <div class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.6s">
                        <h2 class="rt-section-title">
                            <span>Itineraries that impress.</span>
                            Download App
                        </h2><!-- /.rt-section-title -->
                        <p>
                            All your travel plans, in one place.You handle the booking.Access reservations, maps, and
                            more on your favorite device!View trending destinations. Discover popular trips. Listen to
                            your heart. Experience the world.Find or create your perfect trip. Meet fellow travellers.
                            Experience different cultures. Create unforgettable memories.Keep up-to-date with
                            active trips, view your favourites, visit previous adventures. Managing a trip has never
                            been easier.
                        
                        </p>
                        <br>
                        <p>
                            Download the Emigrar app and join our ever-growing community of passionate
                            travellers. Find lasting friendships, discover new adventures and create unforgettable
                            memories.
                        </p>
                    </div><!-- /.wow -->
                    <div class="rt-button-group mt-5 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.9s">
                        <a href="#" class="rt-btn rt-app-parimary rt-rounded">
                            <div class="app-thumb">
                                <i class="fab fa-google-play"></i>
                            </div><!-- /.app-thumb -->
                            <div class="app-text">
                                <span>GET IT ON</span>
                                <span>Appstore</span>
                            </div><!-- /.app-text -->
                        </a>
                        <a href="#" class="rt-btn rt-app-secondary rt-rounded">
                            <div class="app-thumb">
                                <i class="fab fa-apple"></i>
                            </div><!-- /.app-thumb -->
                            <div class="app-text">
                                <span>GET IT ON</span>
                                <span>Appstore</span>
                            </div><!-- /.app-text -->
                        </a>
                    </div><!-- /.rt-button-group -->
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>