<div class="spacer-top"></div>
<section class="flight-dela-area" data-scrollax-parent="true">
    <!-- 
    <div class="rt-shape-emenetns-1" style="background-image: url({{'images/shape-elements/shape_1.png'|media}})"
        data-scrollax="properties: { translateY: '340px' }"></div>
    -->
    <div class="rt-shape-emenetns-2" style="background-image: url({{'navicu/imgs/png/new-flights.png'|media}}); 
    transform: translateZ(0px) translateX(-11.7629px);" data-scrollax="properties: { translateX: '-140px' }"></div>
    <!-- 
    <div class="rt-shape-emenetns-2" style="background-image: url()"
        data-scrollax="properties: { translateX: '-140px' }"></div>
    -->
        <!-- /.rt-shape-elemenets2 -->
    <div class="container ">
        <div class="row">
            <div class="col-xl-10 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        Explora el mundo con navicu.com
                    </h2><!-- /.rt-section-title -->
                    <p>
                        Cada viaje nos lleva a vivir aventuras increíbles que nos hacen ver el mundo como
                        nunca antes, <br> atrévete a explorar nuevos destinos con navicu.com
                    </p>
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row d-none d-sm-none d-md-block">
            <div class="col-xl-8 col-lg-10">
                <div class="row">
                    <div class="col-md-6">
                        <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/miami.jpg'|media}})">
                            <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Viaja a
                                </span>
                                <span>
                                    MIAMI <br>
                                    <small>con salida desde caracas y valencia</small>
                                </span>
                            </div><!-- /.trip-to -->
                            <div class="trip-form">
                                <!--  -->
                                <span></span>
                                <span>desde $645</span>
                            </div><!-- /.trip-form -->
                        </a><!-- /.flight-box -->
                    </div><!-- /.col-lg-4 -->

                    <div class="col-md-6">
                        <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/bogota.jpg'|media}})">
                            <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Viaja a
                                </span>
                                <span>
                                    BOGOTÁ <br>
                                    <small>con salida desde caracas</small>
                                </span>
                            </div><!-- /.trip-to -->
                            <div class="trip-form">
                                <span></span>
                                <span>desde $549</span>
                            </div><!-- /.trip-form -->
                        </a><!-- /.flight-box -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-md-6">
                        <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/sto-domingo.jpg'|media}})">
                            <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Viaja a
                                </span>
                                <span>
                                    STO DOMINGO <br>
                                    <small>con salida desde caracas y valencia</small>
                                </span>
                            </div><!-- /.trip-to -->
                            <div class="trip-form">
                                <span></span>
                                <span>desde $369</span>
                            </div><!-- /.trip-form -->
                        </a><!-- /.flight-box -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-md-6">
                        <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/isla-margarita.jpg'|media}})">
                            <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Viaja a
                                </span>
                                <span>
                                    ISLA MARGARITA <br>
                                    <small>salida desde varias ciudades</small>
                                </span>
                            </div><!-- /.trip-to -->
                            <div class="trip-form">
                                <span></span>
                                <span>desde $35</span>
                            </div><!-- /.trip-form -->
                        </a><!-- /.flight-box -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-md-6">
                        <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/panama.jpg'|media}})">
                            <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Viaja a
                                </span>
                                <span>
                                    PANAMÁ <br>
                                    <small>con salida desde caracas y valencia</small>
                                </span>
                            </div><!-- /.trip-to -->
                            <div class="trip-form">
                                <span></span>
                                <span>desde $279</span>
                            </div><!-- /.trip-form -->
                        </a><!-- /.flight-box -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-md-6">
                        <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/quito.jpg'|media}})">
                            <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                            <div class="trip-to">
                                <span>
                                    Viaja a
                                </span>
                                <span>
                                    QUITO <br>
                                    <small>con salida desde caracas</small>
                                </span>
                            </div><!-- /.trip-to -->
                            <div class="trip-form">
                                <span></span>
                                <span>desde $590</span>
                            </div><!-- /.trip-form -->
                        </a><!-- /.flight-box -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
        <div class="row d-none d-sm-none d-md-block">
            <div class="col-12 text-center mt-4">
                <h5 class="pb-3">Haz click para conversar con tu agente de viajes</h5>
                <a href="https://wa.me/584140340934" class="btn whatsapp-gradient-button"> 
                    <img src="{{'images/misc/whatsapp-white.png'|media}}" alt="">
                    Abrir chat
                </a>
            </div>
        </div>
    </div><!-- /.container -->

    <div class="container d-block d-sm-none">
        <div class="tiny-slider">
            {#
            <div>
                <div class="col-md-12">
                    <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/VERANO-2.jpg'|media}})">
                        <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                        <div class="trip-to">
                            <span>
                                Viaja a
                            </span>
                            <span>
                                PANAMÁ <br>
                                <small>con salida desde caracas y valencia</small>
                            </span>
                        </div><!-- /.trip-to -->
                        <div class="trip-form">
                            <span></span>
                            <span>desde $279</span>
                        </div><!-- /.trip-form -->
                    </a><!-- /.flight-box -->
                </div>
            </div>
            #}
            <div>
                <div class="col-md-12">
                    <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/miami.jpg'|media}})">
                        <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                        <div class="trip-to">
                            <span>
                                Viaja a
                            </span>
                            <span>
                                MIAMI <br>
                                <small>con salida desde caracas y valencia</small>
                            </span>
                        </div><!-- /.trip-to -->
                        <div class="trip-form">
                            <!--  -->
                            <span></span>
                            <span>desde $645</span>
                        </div><!-- /.trip-form -->
                    </a><!-- /.flight-box -->
                </div><!-- /.col-lg-4 -->
            </div>
            <div>
                <div class="col-md-12">
                    <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/bogota.jpg'|media}})">
                        <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                        <div class="trip-to">
                            <span>
                                Viaja a
                            </span>
                            <span>
                                BOGOTÁ <br>
                                <small>con salida desde caracas</small>
                            </span>
                        </div><!-- /.trip-to -->
                        <div class="trip-form">
                            <span></span>
                            <span>desde $549</span>
                        </div><!-- /.trip-form -->
                    </a><!-- /.flight-box -->
                </div>
            </div>
            <div>   
                <div class="col-md-12">
                    <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/sto-domingo.jpg'|media}})">
                        <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                        <div class="trip-to">
                            <span>
                                Viaja a
                            </span>
                            <span>
                                STO DOMINGO <br>
                                <small>con salida desde caracas y valencia</small>
                            </span>
                        </div><!-- /.trip-to -->
                        <div class="trip-form">
                            <span></span>
                            <span>desde $369</span>
                        </div><!-- /.trip-form -->
                    </a><!-- /.flight-box -->
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/isla-margarita.jpg'|media}})">
                        <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                        <div class="trip-to">
                            <span>
                                Viaja a
                            </span>
                            <span>
                                ISLA MARGARITA <br>
                                <small>salida desde varias ciudades</small>
                            </span>
                        </div><!-- /.trip-to -->
                        <div class="trip-form">
                            <span></span>
                            <span>desde $35</span>
                        </div><!-- /.trip-form -->
                    </a><!-- /.flight-box -->
                </div>
            </div>    
            <div>
                <div class="col-md-12">
                    <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/panama.jpg'|media}})">
                        <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                        <div class="trip-to">
                            <span>
                                Viaja a
                            </span>
                            <span>
                                PANAMÁ <br>
                                <small>con salida desde caracas y valencia</small>
                            </span>
                        </div><!-- /.trip-to -->
                        <div class="trip-form">
                            <span></span>
                            <span>desde $279</span>
                        </div><!-- /.trip-form -->
                    </a><!-- /.flight-box -->
                </div>
            </div>    
            <div>
                <div class="col-md-12">
                    <a class="flight-box" href="#" style="background-image: url({{'navicu/imgs/jpg/paises-destinos/quito.jpg'|media}})">
                        <div class="rt-inner-overlay color_1"></div><!-- /.rt-overlay -->
                        <div class="trip-to">
                            <span>
                                Viaja a
                            </span>
                            <span>
                                QUITO <br>
                                <small>con salida desde caracas</small>
                            </span>
                        </div><!-- /.trip-to -->
                        <div class="trip-form">
                            <span></span>
                            <span>desde $590</span>
                        </div><!-- /.trip-form -->
                    </a><!-- /.flight-box -->
                </div><!-- /.col-lg-4 -->
            </div>    
         
        </div>

        <div class="row d-block d-sm-none">
            <div class="col-12 text-center mt-4">
                <h5 class="pb-3">Haz click para conversar con tu agente de viajes</h5>
                <a href="https://wa.me/584140340934" class="btn whatsapp-gradient-button"> 
                    <img src="{{'images/misc/whatsapp-white.png'|media}}" alt="">
                    Abrir chat
                </a>
            </div>
        </div>
    </div>
</section>