
 <section class="works-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center mx-auto">
                <div class="rt-section-title-wrapper">
                    <h5>Explora el mundo con navicu.com</h5>
                    <h2 class="rt-section-title">
                        ¡La forma más fácil y segura de adquirir tus boletos aéreos!
                    </h2><!-- /.rt-section-title -->
                    <p>Adquiere tus boletos aéreos a los mejores destinos internacionales y dentro de Venezuela, <br>
                        seremos tu guía en cada paso y te ayudaremos a planificar tu viaje ideal</p>
                </div><!-- /.rt-section-title-wrapper- -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-lg-3 col-md-6 mx-auto text-center">
                <div class="services-box-2 ">
                    <div class="services-thumb">
                        <img src="{{'navicu/imgs/png/blt-internacional.png'|media}}" alt="Boletería" draggable="false">
                    </div><!-- /.services-thumb -->
                    <p>Boletería nacional <br> e internacional</p>
                </div><!-- /.services-box-2 -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6 mx-auto text-center">
                <div class="services-box-2">
                    <div class="services-thumb">
                        <img src="{{'navicu/imgs/png/precio-garantizado.png'|media}}" alt="Mejor precio garantizado" draggable="false">
                    </div><!-- /.services-thumb -->
                    <p>Mejor precio garantizado y <br> facilidades de pago</p>
                </div><!-- /.services-box-2 -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6 mx-auto text-center">
                <div class="services-box-2">
                    <div class="services-thumb">
                        <img src="{{'navicu/imgs/png/soporte-agentes.png'|media}}" alt="Soporte 24/7" draggable="false">
                    </div><!-- /.services-thumb -->
                   
                    <p>Soporte 24/7 por nuestros agentes expertos en viajes</p>
                </div><!-- /.services-box-2 -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6 mx-auto text-center">
                <div class="services-box-2">
                    <div class="services-thumb">
                        <img src="{{'navicu/imgs/png/alianzas-lineas.png'|media}}" alt="Alianzas" draggable="false">
                    </div><!-- /.services-thumb -->
                    
                    <p>Alianzas con las principales líneas aéreas de Venezuela y el mundo</p>
                </div><!-- /.services-box-2 -->
            </div><!-- /.col-lg-3 -->
            <div class="col-12 text-center mt-4">
                <h5 class="pb-3">Explora el mundo con navicu.com</h5>
                <a href="https://wa.me/584140340934" class="btn whatsapp-gradient-button"> 
                    <img src="{{'images/misc/whatsapp-white.png'|media}}" alt="whatsapp">
                    Abrir chat</a>
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
 </section>