<section class="brands-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h2 class="rt-section-title">
                        Travel partners
                    </h2>
                    <p>
                        Contamos con las mejores alianzas comerciales para hacer de tu viaje una
                        experiencia increíble
                    </p>
                </div><!-- /.rt-section-title-wrapper -->
            </div><!-- /.col-lg-9 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <ul class="rt-border-brands">
                    <li class="single-border-brands">
                        <a href="#" class=" d-block">
                            <img src="{{'navicu/imgs/png/eurobuilding-partner.png'|media}}" alt="Euro Building" draggable="false">
                        </a>
                    </li><!-- /.single-border-brands -->
                    <li class="single-border-brands">
                        <a href="#" class=" d-block" data-wow-duration="1s">
                            <img src="{{'navicu/imgs/png/hesperia-partner.png'|media}}" alt="Hesperia" draggable="false">
                        </a>
                    </li><!-- /.single-border-brands -->
                    <li class="single-border-brands">
                        <a href="#" class=" d-block" data-wow-duration="1.5s">
                            <img src="{{'navicu/imgs/png/ldhoteles-partner.png'|media}}" alt="Lidotel" draggable="false">
                        </a>
                    </li><!-- /.single-border-brands -->
                    <li class="single-border-brands">
                        <a href="#" class=" d-block" data-wow-duration="2s"> 
                            <img src="{{'navicu/imgs/png/sunsol-partner.png'|media}}" alt="Sunsol" draggable="false">
                        </a>
                    </li><!-- /.single-border-brands -->
                    <li class="single-border-brands">
                        <a href="#" class=" d-block" data-wow-duration="2.5s">
                            <img src="{{'navicu/imgs/png/avior-partner.png'|media}}" alt="Avior" draggable="false">
                        </a>
                    </li><!-- /.single-border-brands -->
                    <li class="single-border-brands">
                        <a href="#" class=" d-block" data-wow-duration="3s">
                            <img src="{{'navicu/imgs/png/turpial-partner.png'|media}}" alt="Turpial" draggable="false">
                        </a>
                    </li><!-- /.single-border-brands -->
                    <li class="single-border-brands">
                        <a href="#" class=" d-block" data-wow-duration="3.5s">
                            <img src="{{'navicu/imgs/png/conviasa-partner.png'|media}}" alt="Conviasa" draggable="false">
                        </a>
                    </li><!-- /.single-border-brands -->
                    <li class="single-border-brands">
                        <a href="#" class=" d-block" data-wow-duration="4s">
                            <img src="{{'navicu/imgs/png/oasis-partner.png'|media}}" alt="Lexus" draggable="false">
                        </a>
                    </li><!-- /.single-border-brands -->
                </ul><!-- /.rt-border-brands -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
    </div><!-- /.containe -->
</section>