<!-- style="background-image: url({{'images/background/portfoliobg.png'|media}})" -->
<div class="spacer-top"></div><!-- /.spacer-top -->
<section class="portfolio-area rt-section-padding rtbgprefix-full bg-hide-md gradinet-bg-md" >
    <div class="container">
        <div class="row">
            <div class="col-xl-8 text-center mx-auto text-center">
                <div class="rt-section-title-wrapper">
                    <h5>Reserva tu próximo viaje</h5>
                    <h2 class="rt-section-title">
                        
                        Top Hoteles recomendados
                    </h2><!-- /.rt-section-title -->
                    <p class="">Conoce la lista de hoteles recomendados que hemos seleccionado especialmente para ti y vive la mejor experiencia durante tu viaje</p>
                </div><!-- /.rt-section-title-wrapper- -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-12">
                <ul class="filter-list">
                    <li data-filter=".cat-0" class="active">MARGARITA</li>
                    <li data-filter=".cat-1">CARACAS</li>
                    <li data-filter=".cat-2">VALENCIA</li>
                    <li data-filter=".cat-3">MARACAY</li>
                    <li data-filter=".cat-4">BARQUISIMETO</li>
                    <li data-filter=".cat-5">MARACAIBO</li>
                </ul>
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
        <div class="row grid">
            <div class="col-lg-4 col-md-6 grid-item cat-0">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/him-margarita.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $50,2 <br>
                            <small>por noche/por persona</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Hesperia Isla Margarita</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-0">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/ldplus-margarita.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche/por persona</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>LD Plus</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-0">
                <div class="portfolio-box-1 " style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/sunsol-ecoland-margarita.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche/por persona</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Sunsol Ecoland</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-0">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/hpa-margarita.jpg'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $45 <br>
                            <small>por noche/por persona</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Hesperia Playa el Agua</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-0">
                <div class="portfolio-box-1 " style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/ldpuntaplaya-margarita.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche/por persona</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>LD Punta Playa</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-0">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/tibisay-hotel-boutique.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>LD Punta Playa</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-1">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/eurobuilding-caracas.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Eurobuilding Hotel & Suites</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-1">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/altamira-suites.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Altamira Suites</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-1">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/melia-caracas.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Meliá Caracas</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-2">
                <div class="portfolio-box-1 " style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/hwtc-valencia.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $99 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Hesperia WTC Valencia</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-2">
                <div class="portfolio-box-1 " style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/lidotel-valencia.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Lidotel Valencia</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-2">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/executive-valencia.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Executive Suites</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-3">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/hesperia-mcy.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Hesperia Maracay</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-3">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/marriott-maracay.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Marriot Maracay Golf Resort</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-2">
                <div class="portfolio-box-1 " style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/pipointernacional-maracay.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Pipo Internacional</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-5">
                <div class="portfolio-box-1 " style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/intercontinental-mcbo.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Inter Maracaibo</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-5">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/tibisay-hotel-dellago-maracaibo.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Tibisay Hotel del Lago</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->
            {#
            <div class="col-lg-4 col-md-6 grid-item cat-5">
                <div class="portfolio-box-1 ">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Hotel Aeropuerto Maracaibo</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->
            #}
            <div class="col-lg-4 col-md-6 grid-item cat-4">
                <div class="portfolio-box-1 " style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/trinitariassuites-barquisimeto.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Trinitarias Suites</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-4">
                <div class="portfolio-box-1 " style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/lidotel-barquisimeto.png'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Lidotel Barquisimeto</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

            <div class="col-lg-4 col-md-6 grid-item cat-4">
                <div class="portfolio-box-1" style="background-image: url({{'navicu/imgs/jpg/hoteles-destacados/jirahara-barquisimeto.jpg'|media}})">
                    <div class="rt-overlay"></div><!-- /.rt-overlay -->
                    <div class="portfolio-badge">
                        <span>
                            Desde $0 <br>
                            <small>por noche / por habitación</small>
                        </span>
                        
                    </div><!-- /.portfolio-badge -->
                    <div class="inner-content text-white">
                        <h6>Jirahara</h6>
                        <p> <span>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </span>
                        </p>
                    </div><!-- /.inner-content -->
                </div><!-- /.portfolio-box-1 -->
            </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>