
<!--  style="background-image: url({{'images/background/dotbg.png'|media}})" -->
<section class="emigr-services-area rtbgprefix-contain">
    <div class="spacer-bottom"></div><!-- /.spacer-bottom -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10 text-center mx-auto">
                <div class="rt-section-title-wrapper">
                   
                    <h2 class="rt-section-title">
                        
                        ¡Un nuevo viaje está por comenzar!
                    </h2><!-- /.rt-section-title -->
                    <p>Conoce todos los destinos del mundo con la mejor plataforma <br> de viajes de Venezuela y Latinoamérica</p>
                </div><!-- /.rt-section-title-wrapper- -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        <div class="section-title-spacer"></div><!-- /.section-title-spacer -->
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto text-center">
                <div class="services-box-1">
                    <div class="services-thumb">
                        <img src="{{'navicu/imgs/png/alojamientos-icon.png'|media}}" alt="" draggable="false">
                    </div><!-- /.services-thumb -->
                    <h4>Reservas de Alojamientos</h4>
                    <p>Encuentra las últimas ofertas de hospedaje en Venezuela</p>
                </div><!-- /.services-box-1 -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 mx-auto text-center">
                <div class="services-box-1" >
                    <div class="services-thumb">
                        <img src="{{'navicu/imgs/png/flights-icon.png'|media}}" alt="" draggable="false">
                    </div><!-- /.services-thumb -->
                    <h4>Vuela a nuevos destinos</h4>
                    <p>Boletería aérea al mejor precio del mercado</p>
                </div><!-- /.services-box-1 -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 mx-auto text-center">
                <div class="services-box-1" >
                    <div class="services-thumb">
                    <img src="{{'navicu/imgs/png/support-icon.png'|media}}" alt="" draggable="false">
                    </div><!-- /.services-thumb -->
                    <h4>Atención personalizada</h4>
                    <p>Planifica tu viaje con la asesoría de nuestros agentes expertos</p>
                </div><!-- /.services-box-1 -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="spacer-bottom"></div><!-- /.spacer-bottm -->
</section>