<!-- style="background-image: url({{'images/background/videobg.png'|media}})" -->
<div class="play-video rtbgprefix-full bg-hide-md">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="play-video-box rtbgprefix-cover" style="background-image: url({{'navicu/imgs/jpg/cover-video-navicu.jpg'|media}})">
    <a href="https://www.youtube.com/watch?v=SKZfQIq1pHQ" class="rt-btn rt-video-light playVideo"></a>
</div><!-- /.play-video-box -->
            </div><!-- /.col-lg-10 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>